.body-one {
    background-image: url("398748236_780392027431635_4750014100275582286_n.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.div-one,
.div-two,
.div-three,
.div-four,
.div-five {
    width: 100%;
    height: 800px;
}

.div-one {
    background-color: red;
    border-color: red;
}

.div-two {
    background-color: #ffffff;
}

.div-three {
    background-color: green;
}

.div-four {
    background-color: rgba(255, 255, 255, 0);
}

.div-five {
    background-color: red;
}

.h-one,
.h-two,
.h-three,
.h-four,
.h-five {
    text-align: center;
    margin: 0 10%;
}

.h-one {
    width: 90%;
    margin: auto;
    background-color: green;
    height: 60px;
    border-color: red;
    border-width: 0 10px 10px;
    border-style: dashed;
    padding: 1%;
}

.h-two {
    color: #000;
}

.h-three {
    color: #fff;
}

.h-four {
    color: #000;
}

.h-five {
    color: #fff;
}